<aside>
    <div class="post-statusbar">{{{ title }}}</div>
</aside>

<main>
    <div class="post-create--wrapper">
        <div class="post-create--playground">
            <div class="post-header"></div>
            <div class="post-content"></div>
        </div>

        <div class="post-create--elements">
            <div id="TAG-WRAPPER" class="tags-wrapper"></div>
            <input id="TAG-INPUT" type="text" placeholder="Add tag" class="input-controls">

            <p id="HERO" class="element__draggable btn-controls" draggable="true">HERO PICTURE</p>
            <p id="TITLE" class="element__draggable btn-controls" draggable="true">MAIN TITLE</p>
            <p id="SUBTITLE" class="element__draggable btn-controls" draggable="true">TITLE</p>
            <p id="TEXT" class="element__draggable btn-controls" draggable="true">TEXT</p>
            <p id="TIP" class="element__draggable btn-controls" draggable="true">TIP</p>
            <p id="CODE" class="element__draggable btn-controls" draggable="true">CODE</p>

            <div id="PREVIEW" class="btn btn-preview">PREVIEW POST</div>
            <div id="SUBMIT" class="btn btn-submit">UPDATE POST</div>
        </div>
    </div>
</main>