:root {
    --msg-code-copied: "Code copied!";
    --url-img-service: "https://unsplash.it/1920";

    --breakpoint-tiny: 320px;
    --breakpoint-small: 480px;
    --breakpoint-mobile: 740px;
    --breakpoint-desktop: 1300px;
}
