<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="google-signin-client_id"
        content="52139802595-td4b2bdj7sjqmtf0gre5dkmvt0ed9ash.apps.googleusercontent.com">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>.pablomag: Content creation panel</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
    <header>
        <h1 class="header-title">
            <object data="/dot-pablomag.svg" type="image/svg+xml" alt=".pablomag" aria-label=".pablomag"
                class="logo-svg"></object>
            .pablomag
        </h1>

        <nav>
            <ul>
                <li>ADMIN</li>
            </ul>
        </nav>
    </header>

    {{{ body }}}

    <footer>
        <div class="first-paragraph">
            <div class="powered-by">
                <p>powered by</p>
            </div>
            <div class="icons">
                <i class="fab fa-node-js"></i><i class="fab fa-js"></i>
            </div>
        </div>

        <div class="second-paragraph">
            <div class="copyright">
                <p>Copyright © 2019, Developed by @pablomag. All Rights Reserved.</p>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="https://apis.google.com/js/platform.js" async defer></script>
    <script type="text/javascript" src="/scripts/google-auth.js"></script>
</body>

</html>