footer {
    justify-content: center;
    align-items: center;
    background-color: var(--clr-dark);
    height: 14rem;
    padding: 0.5rem 0;

    @media (max-width: var(--breakpoint-small)) {
        height: 15rem;
    }

    @media (min-width: var(--breakpoint-mobile)) {
        height: 12rem;
    }

    .first-paragraph {
        display: flex;
        justify-content: center;
        align-items: baseline;
        padding: 2rem 0;

        @media (min-width: var(--breakpoint-mobile)) {
            padding: 2rem 0 4rem;
        }
    }

    .second-paragraph {
        display: flex;
        position: relative;
        justify-content: center;
        bottom: -5em;
        padding: 0;
        margin: 0 auto;

        @media (min-width: var(--breakpoint-mobile)) {
            flex-direction: row-reverse;
        }
    }

    .icons {
        margin: 0;
        padding: 0;
        color: var(--clr-light);
        font-size: var(--fs-h4);
        display: inline-flex;

        .fab {
            padding: 0 0.3rem;
        }
    }

    .powered-by {
        margin: 0;
        padding: 0;
        display: inline-flex;
        @include font(var(--ff-side), var(--fs-xs), var(--clr-light));

        p {
            position: relative;
            top: -0.4rem;
        }
    }

    .copyright {
        display: inline-flex;
        float: left;
        width: 50%;
        justify-content: center;
        padding: 0 1rem 0 2rem;
        @include font(var(--ff-side), var(--fs-xxs), var(--clr-accent-dark));

        @media (min-width: var(--breakpoint-mobile)) {
            display: inline-flex;
            padding: 0 1rem 0 2rem;
        }
    }

    .terms-of-service {
        display: flex;
        width: 100%;
        padding: 0;
        justify-content: center;
        @include font(var(--ff-side), var(--fs-xxs), var(--clr-accent));

        @media (min-width: var(--breakpoint-mobile)) {
            display: inline-flex;
            padding: 0 2rem 0 1rem;
        }
    }
}
