:root {
    --clr-dark: rgb(13, 17, 19);
    --clr-light: #fff;
    --clr-accent: #e6e6e6;
    --clr-accent-dark: #808080;
    --clr-primary: #0071bc;
    --clr-secondary: #18448e;
    --clr-tertiary: rgb(124, 186, 200);
    --clr-brand: #30bf6d;
    --clr-alert: #96051d;
    --clr-warning: rgb(255, 196, 24);
}
